#road {
  background: url("/images/NightRoad.png");
  background-size: 400px;
  background-repeat: repeat-y;
  width: 400px;
  height: 700px;
  margin: 0px auto;
}

#car {
  background: url("/road_fight/images/redCAr.png");
  background-size: cover;
  width: 70px;
  height: 100px;
  position: relative;
  top: 500px;
}

#obstacle1 {
  width: 20px;
  height: 20px;
  position: relative;
}

#obstacle2 {
  width: 20px;
  height: 20px;
  position: relative;
}

#obstacle3 {
  width: 20px;
  height: 20px;
  position: relative;
}

body {
  /* background: url("/road_fight/images/horizon.jpeg"); */
  background-size: cover;
}
