#road {
  background: url("/images/NightRoad.png");
  background-size: 400px;
  background-repeat: repeat-y;
  width: 400px;
  height: 700px;
  margin: 0px auto;
}

#car {
  background-color: red;
  width: 20px;
  height: 20px;
  position: relative;
}

#obstacle1 {
  background-color: green;
  width: 20px;
  height: 20px;
  position: relative;
}

#obstacle2 {
  background-color: green;
  width: 20px;
  height: 20px;
  position: relative;
  left: 100px;
}

#obstacle3 {
  background-color: green;
  width: 20px;
  height: 20px;
  position: relative;
  left: 350px;
}
